<template name="noticeList">
  <div class="panel panel-default">
	  <div class="panel-heading">
		 {{#if currentUser}}
			<h3 class="panel-title">공지사항 <div class="category btn btn-inverse" id="btnNewNotice"> &plus; </div></h3>
			{{else}}
			<h3 class="panel-title">공지사항 </h3>
		 {{/if}}
	  </div>

		{{#if newNotice}}
			
			<form class="main form">
			<div class="panel-body">

			<input name="add-notice" id="add-notice" type="text" class="form-control" value="">
			<input name="btnSubmit" type="submit" value="저장" class="btn btn-default" style="float:right;"/>
			<button id="btnCancel" type="submit" class="btn btn-default" style="float:right;">취소</button>

			</div>
			</form>
		{{/if}}

	  {{#each notices}}
	    {{> notice}}
	  {{/each}}

  </div>
</template>
