<template name="noticeList">
  <div class="panel panel-default">
	  <div class="panel-heading">
		 {{#if currentUser}}
			<h3 class="panel-title">공지사항 <div class="category btn btn-inverse" id="btnNewNotice"> &plus; </div></h3>
			{{else}}
			<h3 class="panel-title">공지사항 </h3>
		 {{/if}}
	  </div>

		{{#if newNotice}}
			<div class="panel-body">
			<input type="text" class="form-control" id="add-notice" value="">
			<button id="btnSubmit" type="submit" class="btn btn-default" style="float:right;">저장</button>
			<button id="btnCancel" type="submit" class="btn btn-default" style="float:right;">취소</button>
			</div>
		{{/if}}

	  {{#each notices}}
	    {{> notice}}
	  {{/each}}

  </div>
</template>
